# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.TowerDefense.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\June\Documents\CSUMB\CST326 - Game Dev\TowerDefense\.idea\.idea.TowerDefense\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
